﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-10">
           @using (Html.BeginForm("Home", "Operation", FormMethod.Post))
           {
            <div class="form-group">
                <label for="input1">Valor 1:</label>
                <input type="text" class="form-control" id="input1">
            </div>
            <div class="form-group">
                <label for="input2">Valor 2:</label>
                <input type="text" class="form-control" id="input2">
            </div>
           }
          
        </div>
  
    </div>
</div>