﻿@model C.WebApplication.Models.OperationViewModel

@{
    ViewBag.Title = "Operation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm())*@ 
@using (Html.BeginForm("OperationService", "Home"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sumar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.input1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.input1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.input1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.input2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.input2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.input2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sumar" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
